* {
	text-align: center;
	list-style-type: none;
	font-family: arial;
}

body {
	background-color: rgb(244, 244, 244);
}

img.images {
  height: 300px;
}

#details{
	text-align: center;
	display: inline-block;

}

.images {
    opacity: 0.75;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.images:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

/* ELIMINATED STAMP */
/*.images {*/
  /*width:200px;
  height:200px;*/
  /*border:solid 1px #333;*/
  /*display:inline-block;
  vertical-align:top;
  box-sizing:border-box;*/
  /*padding:10px;
  color:#999;
  position:relative;
}*/

.images.sample:after
{
    content:"ELIMINATED";
    position:absolute;
    top:70px;
    left:10px;
    z-index:1;
    font-family:Arial,sans-serif;
    -webkit-transform: rotate(-45deg); /* Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -ms-transform: rotate(-45deg); /* IE */
    -o-transform: rotate(-45deg); /* Opera */
    transform: rotate(-45deg);
    font-size:40px;
    color:#c00;
    background:#fff;
    border:solid 4px #c00;
    padding:5px;
    border-radius:5px;
    zoom:1;
    filter:alpha(opacity=20);
    opacity:0.2;
    -webkit-text-shadow: 0 0 2px #c00;
    text-shadow: 0 0 2px #c00;
    box-shadow: 0 0 2px #c00;
}
