* {
	text-align: center;
	list-style-type: none;
	font-family: arial;
}

body {
	background-color: rgb(244, 244, 244);
}

img.images {
  height: 300px;
}

#details{
	text-align: center;
	display: inline-block;

}

.images {
    opacity: 0.50;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

.images:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}


img.eliminated:hover {
	/*height: 1000px;*/
	background: url("https://media.giphy.com/media/3oz8xtprbtd0wEWOoU/giphy.gif");
	opacity: 0;
}
